<div class="hima_top">
  <%=image_tag "hima.png" %>
<div>
  <p class="list_top">目次</p>
   <ul>
    <li class="list"><%= link_to 'ブロック崩し', new_game_path %></li>
    <li class="list"><%= link_to 'クイズゲーム', games_index2_path %></li>
   </ul>
</div>


</div>